<div class="todo done-{{completed}}" data-id="{{id}}">
    {{ title }}  
    <input type="checkbox" {{#if completed}} checked {{/if}} name="completed">
    <button id="removeTodo">Delete</button>
</div>