<h1>Products</h1>

<div class="lead">

<%= @product.name %><br>
<br>

categories
<% @categories.map do |cat| %>
<li><%= cat.name %></li>
<% end %>


<%= button_to "edit product", edit_product_path, method: "get", class: "btn btn-default" %>
</div>