<div class="row"  id="white">

	<div class="col-sm-8 col-sm-offset-2">
		<img src="http://detroitcenter.umich.edu/sites/default/files/imagecache/normal/HomeboyIndustriesLogos.jpg" width="50%" height="50%">

	





  <iframe width="640" height="360" src="//www.youtube.com/embed/S4cO9GkWPTo" frameborder="0" allowfullscreen></iframe>

  <iframe width="640" height="360" src="//www.youtube.com/embed/jWukVKqDJLE?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>

	</div>


<!-- http://www.homeboyindustries.org/hb_adm/img/logo.png -->

</div>


