<h1>Categories#show</h1>
<p>Find me in app/views/categories/show.html.erb</p>

<%= @category.name %> 
<%= button_to "delete",{action: :destroy, id: @category.id}, method: :delete %> 

<% @products.map do |prod| %>
<li><%= prod.name %></li>
<% end %>

<%= link_to "edit", edit_category_path %>
